/*==================================RESPONSIVE LAYOUTS===============================================*/


@media only screen and (max-width: 1440px) {
	[data-bg="order"]::before{bottom: 0;}
	
	.contacts-section,
	.feedback-section,
	.full-section[data-bg]{
		-webkit-background-size: auto 100%;
		     -o-background-size: auto 100%;
		        background-size: auto 100%;
	}

}


@media only screen and (max-width: 1200px) {
	
	[data-bg="order"]::before{
		left: 70%;
		width: 22%;
	}
}

@media only screen and (max-width: 1024px) {
	
	
	[data-bg="order"]::before{
		/*left: 70%;*/
		width: 28%;
	}

	.list-1 li{margin-bottom: 5px;}

	.contacts-section .link--call{
		left: auto;
		right: 33px;
	}
}

@media only screen and (max-width: 995px) {
	
	.container{
		width: auto;
		padding-left: 20px;
		padding-right: 20px;
	}
	.ankor{
		display: none !important;
	}

	.contacts-section{
		padding: 20px 0;
	}

		.contacts--block{
			max-width: 400px;
		}

	.header__contacts .header__btn{
		margin-top: -30px;
	}
	.header__lang{
		top: 50px;
		right: 0;
		position: absolute;
	}

	.menu li{
		margin-right: 1px;
	}

	.features{
		display: block;
		text-align: center;
	}
		.feature-item{
			/*float: left;*/
			display: inline-block;
			width: 130px;
			margin: 0 10px 20px;
		}

			.feature-item__icon{
				width: 130px;
				height: 130px;
				line-height: 130px;
			}

			.feature-item figcaption{
				padding-top: 20px;
			}

			.feature-item__icon img{
				max-width: 50%;
				height: auto;
			}

	footer .logo{float: none; margin-bottom: 10px;}
	footer .logo_box p{line-height: 1;}

	.footer__nav{
		padding-top: 22px;
		text-align: center;
	}


	.product_type{
		display: block;
		min-height: 0;
	}

		.product_type--img{
			padding-bottom: 50%;
			background-position: 50% 100% !important;
		}
		.product_type--img, .product_type--info{
			width: auto;
		}
	
	.home-scroll-icon{
		display: none;
	}

	.testimonials .owl-prev{
		right: 98%;
	}
	.testimonials .owl-next{
		left: 98%;
	}

	.table-1{
		/*width: 954px;*/
		/*width: auto;*/
		/*-ms-overflow-x: scroll;
		    overflow-x: scroll;*/
	}

	.price_wrap{
		margin-left: -18px;
		margin-right: -18px;
	}

}

@media only screen and (max-width: 950px) {
	.bonus_wrap{text-align: center;}
		[data-bonus-size='sm']{
			width: 25%;
		}
		[data-bonus-size='lg']{
			margin-left: 30px;
			margin-right: 30px;
		}
		.bonus{
			float: none;
			display: inline-block;
		}

	.return-section__period{font-size: 15px;}

	.dark-fake-inp{width: 120px;}
}

@media only screen and (max-width: 918px) {
	.price_wrap{
		margin-left: -16px;
		margin-right: -16px;
	}
		.price{
			margin: 0 8px 15px;
		}

	.full-contacts{text-align: center;}
		.full-contacts .contacts--location,
		.full-contacts .header__phones,
		.full-contacts .social{
			float: none;
			display: inline-block;
		}
}

@media only screen and (max-width: 905px) {
	.testimonial figcaption{
		padding: 60px 0 0 35px;
	}

	.text-section .img_box{
		width: 50%;
	}
}

@media only screen and (max-width: 890px) {
		[data-bonus-size='sm']{
			margin-top: 30px;
			/*height: auto;*/
		}
		[data-bonus-size='lg']{
			width: 37%;
			height: 300px;
			margin-left: 15px;
			margin-right: 15px;
		}	
			.bonus__title{font-size: 24px;}
			[data-bonus-size='lg'] .bonus__title{font-size: 36px;}
	
	.fake-txt-input{width: 80px;}

	.testimonial__img{
		width: 50%;
	}
		.testimonial__img img{max-width: 100%;}

	.testimonial figcaption{
		width: 50%;
	}
	.testimonials-section{min-height: 450px;}

}

@media only screen and (max-width: 867px) {
	.calculate__power{
		width: 58%;
	}
	.calculate__region{
		width: 40%;
		margin-left: 20px;
	}

	[data-bonus-size='sm']{
		height: 200px;
	}
		.bonus__title{font-size: 20px;}
	[data-bonus-size='lg'] .bonus__title{font-size: 30px;}

	.fake-txt-input{width: 70px;}

	/*.dark-fake-inp{width: 100px;}
	.total-box{padding: 40px 60px;}*/

	.total-box{
		text-align: center;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-background-size: 100% 100%;
		     -o-background-size: 100% 100%;
		        background-size: 100% 100%;
	}
		.total-box__part{
			width: auto;
			display: inline-block;
		}
}

@media only screen and (max-width: 795px) {

	.return-section__period{
		height: auto;
		line-height: 50px;
	}
	.fake-txt-input{width: 50%;}
}

@media only screen and (max-width: 768px) {
	body{
		padding-top: 75px;
	}

	.menu a{
		padding-left: 20px;
		padding-right: 20px;
	}

	footer .logo_box{margin-bottom: 0;}

	.contacts-section .link--call{
		right: 18px;
		z-index: 20;
	}


	header{
		padding: 10px 0;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
		background-color: #fff;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
		box-shadow: 0 0 10px rgba(0,0,0,.3);
	}

	header .header__contacts{
		display: none;
	}

	header nav .header__contacts{
		display: block;
		text-align: left;
		float: none;
		padding: 20px 20px 0;
	}

	.resp_menu{
		float: right;
		
	}
	header nav{
		width: 320px;
		right: -330px;
		position: fixed;
		top: 73px;
		bottom: 0;
		z-index: 20;
		padding-top: 45px;
		padding-bottom: 45px;
		background-color: #FFF;
		overflow: auto;
		max-height: 100%;
		
		-webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}
	.navTrue header nav{
		right: 0;
	}

	/*---- responsive menu ----*/
	.resp_menu,
	.resp_close{
		display: block;
	}

	header nav .header__btn{display: block;}
	.header__contacts .header__btn{display: none;}
	.menu{}
		.menu li{
			float: none;
			width: 100%;
		}
	
	.header__lang{
		float: left;
		margin-bottom: 15px;
		position: relative;
		top: auto;
		right: auto;
	}

	footer .logo_box{
		border-right: none;
	}

	

	.home-tethers{
		display: block;
		text-align: center;
	}
	.home-tether{
		
	}

	.home-tethers-section{
		height: auto;
		
	}


	.contacts-section{
		padding-top: 20px;
	}


	.logo{
		max-width: 130px;
	}

	.home-tethers--type-2 .home-tether{
		/*width: calc(50% - 20px);*/
		width: 45%;
		margin-bottom: 15px;
		display: inline-block;
	}

	.blue-contact{
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
		.blue-contact__item{
			width: calc(50% - 20px);
			margin-bottom: 10px;
		}

	.resp-toggle-btn { display: inline-block; border: none; cursor: pointer; outline: none; width: 50px; height: 40px; position: relative; top: 8px; right: 0px; position: absolute; background: none;}
	  
	.resp-toggle-btn span { display: block; position: absolute; height: 2px; left: 8px; right: 8px; background-color: #0b2a61; -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease; }
	.resp-toggle-btn span.line1 { top: 11px; }
	.resp-toggle-btn span.line2 { top: 19px; }
	.menu > .hasUl > a::after { right: 22px; }
	.resp-toggle-btn span.line3 { top: 27px; }
	.navTrue .resp-toggle-btn span { left: 6px; right: 6px; }
	.navTrue .resp-toggle-btn span.line1 { -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); top: 19px; }
	.navTrue .resp-toggle-btn span.line2 { opacity: 0; }
	.navTrue .resp-toggle-btn span.line3 { -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); top: 19px; }
	/* .menu { position: fixed; left: 100%; top: 55px; width: 300px; height: 100%; z-index: 999; padding: 0; overflow: auto; background-color: #131c35; -webkit-transition: all 350ms ease; -moz-transition: all 350ms ease; -ms-transition: all 350ms ease; -o-transition: all 350ms ease; transition: all 350ms ease; }
	.navTrue .menu { left: calc(100% - 300px); } */
	
	.nav_overlay { position: fixed; opacity: 0; visibility: hidden; top: 0; left: 0; width: 100%; height: 100%; z-index: 888; color: #fff; background-color: #000; -webkit-transition: all 350ms ease; -moz-transition: all 350ms ease; -ms-transition: all 350ms ease; -o-transition: all 350ms ease; transition: all 350ms ease; }

	footer{
		text-align: center;
	}

		footer .logo_box{
			padding-bottom: 0;
		}

		.footer__nav{
			padding-top: 10px;
		}


	.calculate__part{
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
		.calculate__power,
		.calculate__region{
			width: 100%;
			margin-left: 0;
			margin-bottom: 20px;
		}

	.compass,
	.house{
		margin-left: auto;
		margin-right: auto;
	}
	.calculate__power,
	.calculate__region{text-align: center;}


	.calculate__part .title-1{font-size: 28px;}


	.price_wrap{
		text-align: center;
	}
		.price,
		.price.current{
			width: calc(50% - 20px);
			float: none;
			display: inline-block;
			
		}


	[data-bonus-size='sm']{width: 27%;}
	[data-bonus-size='lg']{width: 40%;}

	.total-form-section__img{
		width: 50%;
	}
		.total-form-section__img img{max-width: 100%;}


	.testimonial{
		text-align: center;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
		.testimonial__img{
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}

		.testimonial figcaption{
			width: 100%;
			padding-left: 0;
			background-position: 0 15px;
		}
	
	.worker__item{
		width: calc(50% - 20px);
		margin-bottom: 20px;
	}
	
}

@media only screen and (max-width: 667px) {
	.scroll-box{
		height: auto;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
		.scroll-box__content, 
		.scroll-box__tethers{
			width: 100%;
		}
		.scroll-box__content{height: 400px;}

	.title-7{font-size: 40px;}

	.bonus{
		margin-left: auto;
		margin-right: auto;
	}
	[data-bonus-size='sm']{
		width: 180px;
		height: 183px;
		margin-top: 0;
	}
	[data-bonus-size='lg']{
		width: 250px;
		height: 265px;
		margin: 20px 120px 20px;
	}

	.testimonial__img{width: 70%;}
}

@media only screen and (max-width: 550px) {
	.price_wrap{
		margin-left: 0;
		margin-right: 0;
	}
		.price,
		.price.current{
			width: 100%;
			margin-bottom: 20px;
			margin-top: 0;
			margin-left: 0;
			margin-right: 0;
		}

	[data-bonus-size='lg']{
		margin: 20px 80px 20px;
	}

	.total-box{
		padding: 20px 5px;
		background-position: center center;
		-webkit-background-size: auto 150%;
		     -o-background-size: auto 150%;
		        background-size: auto 150%;
	}

	.testimonial{
		margin: 0 30px;
	}
	.testimonial__img{width: 80%;}
}

@media only screen and (max-width: 480px) {
	body{min-width: 320px;}

	.container{
		padding-left: 15px;
		padding-right: 15px;
	}

	.home-tethers-section{
		padding: 20px 0 0;
	}

	/*.home-tethers{
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 20px;
	}*/

	.title-1{font-size: 26px;}
	.title-2{font-size: 16px;}
	.title-7,
	.title{font-size: 30px;}

	.home-tethers--type-2 .home-tether{
		width: auto;
		height: 210px;
		display: block;
		padding: 20px 0 0;
		margin: 0 0 20px;
	}

	.home-tethers-section .title-1{
		margin-bottom: 20px;
	}

	.feature-item{margin-bottom: 20px;}
		.feature-item figcaption{
			padding-top: 15px;
		}

	.features-section{padding: 20px 0;}

	[data-btn-size="large"]{width: 100%;}

	.link--call{
		width: 60px;
		height: 60px;
	}

	.header__contacts{
		float: none;
		text-align: center;
		margin-top: 20px;
	}

	header nav{
		width: 100%;
		right: -100%;
	}

	.blue-contact__item{
		width: 100%;
	}

	[data-bg="order"]::before{display: none;}

	[data-bonus-size='lg']{
		margin: 20px 10px 20px;
	}

	.fake-txt-input{width: 95%;}

	.total-box{
		text-align: center;
	}
		.total-box__label{
			width: 100%;
			font-size: 16px;
			text-align: center;
		}
		.total-box__val{
			width: auto;
			text-align: right;
		}

	.total-form-section__img{
		display: none;
	}
	.total-form{width: 100%;}

	
	.testimonial__img{width: 100%;}
		.testimonials .owl-next{
			left: 96%;
		}
		.testimonials .owl-prev{
			right: 96%;
		}


	.worker__item{
		float: none;
		width: 100%;
	}
}

@media only screen and (max-width: 450px) {
	.return-section__period-wrap{
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
		.return-section__period{
			width: 100%;
			margin-bottom: 15px;
		}
			.fake-txt-input{width: 40%;}
}

@media only screen and (max-width: 435px) {
	.service-item__img.f_left,
	.service-item__img.f_right{
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	.service-item .title-1{text-align: center;}

	.full-contacts .header__phones{line-height: 2;}
}