@import "../css/reset.css";
@import "../css/bootstrap_grid.css";
@import "../fonts/bebas/Bebas-Neue-Regular.css";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  line-height:24px;
  color:#747474;
  min-width:320px;
  min-height: 8000px;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button, input, textarea{
  font-family: 'Roboto', sans-serif;
  outline: none;
}

.container{
  width: 940px;
  margin: 0 auto;
}

/*----------------------> Links And buttons <------------------*/
a {
  color:#747474;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#fdc300;
  text-decoration:none;
}

.btn{
  display:inline-block;
  padding:0 0 0;
  margin: 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
  .btn:hover{
    background:;
    color:#000;
  }

  [data-btn-size="default"]{

  }

  [data-btn-size="medium"]{
    width: 220px;
  }

  [data-btn-size="large"]{
    width: 300px;
  }

  [data-btn-arrow="arrow"]{
    width: 18px;
    height: 18px;
    margin-top: 2px;
    margin-left: 10px;
    display: inline-block;
  }

  .link--more{
    color: #0B2A61;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    padding: 6px 7px 7px;
    border: 2px solid #FDC300;
  }
  .link--more:hover{
    color: #0B2A61;
    background-color: #FDC300;
  }

  .link--more.type2{
    background-color: #FDC300;
  }
  .link--more.type2:hover{
    background-color: #fff;
  }
  
  .link--call{
    width: 68px;
    height: 68px;
    font-size: 10px;
    color: #FDD000;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    display: inline-block;
    text-transform: uppercase;
    background-color: #F93434;
    -webkit-border-radius: 50%;
            border-radius: 50%;
  }
    .link--call::before{
      content: "";
      top: -9px;
      left: -9px;
      right: -9px;
      bottom: -9px;
      position: absolute;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      border: 9px solid rgba(253, 208, 0, .5);
    }
    .link--call span{
      width: 100%;
      display: inline-block;
    }
    .link--call:hover::before{
      border: 9px solid rgba(253, 208, 0, .8);
    }

  .link--mail{
    padding-left: 50px;
    display: inline-block;
    background: url(../images/msg-icon.png) 11px 50% no-repeat;
  }
  .link--mail:hover{color: #0B2A61;}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}

.td_und{text-decoration: underline;}
  .td_und:hover{text-decoration: none;}

.img_box img{max-width: 100%;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/

.accent-color{
  color: #0b2a61;
}

.accent-bg-color{
  background-color: #f6f6f6;
}

.accent-white{
  color: #fff;
}
.accent-yellow{
  color: #fdc300;
}
.accent-blue{
  color: #73A0E0;
}
.accent-grey{
  color: #dadada;
}
.accent-grey_dark{
  color: #74787F;
}
.accent-blue_dark{
  color: #3B3F45;
}
.accent-blue_bright{
  color: #184E9C;
}


[data-skin="yellow"]{background-color: #fdc300;}
[data-skin="white"]{background-color: #FFF;}


/*======================> Header <======================*/

header{
  padding: 20px 0 0;
}
  .logo{
    float: left;
  }
    .logo a{
      display:block;
    }

    .logo a img{
      max-width: 100%;
      height: auto;
    }


  .header__contacts{
    float: right;
  }

    .header__phones{
      display: inline-block;
      padding: 0 0 0 50px;
      font-size: 17px;
      background: url(../images/header-phones-icon.png) 0 50% no-repeat;
    }

      .header__phones li{
        margin-bottom: 6px;
      }

        .header__phones li:last-child{
          margin-bottom: 0;
        }

  .header__contacts{
    vertical-align: middle;
    padding: 13px 0 0;
  }

    .header__contacts > *{
      vertical-align: middle;
    }

    .header__btn{
      font-weight: 500;
      cursor: pointer;
      color: #0b2a61;
      font-size: 14px;
      width: 220px;
      height: 43px;
      line-height: 39px;
      border: 2px solid #fdc300;
      background: none;
      text-align: center;
      display: inline-block;
      margin-left: 24px;
    }

    .header__btn:hover{
      background-color: #fdc300;
    }

      .header__btn span{
        display: inline-block;
        background: url(../images/header-btn-icon.png) 0px 50% no-repeat;
        padding-left: 30px;
      }


nav{
  padding-top: 34px;
  color: #3b3f45;
}

  .menu{
    float: left;
  }

    .menu li{
      display: inline-block;
      margin-right: 15px;
      position: relative;
    }

      .menu a{
        display: block;
        position: relative;
        font-size: 15px;
        padding: 13px 10px;
        z-index: 10;
        color: #3b3f45;
      }

        .menu li::after{
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #fdc300;
          content: "";
        }

        
        .menu a:hover,
        .menu .current a{
          color: #0b2a61;
        }

        .menu li:hover::after,
        .menu li.current::after{
          height: 100%;
        }
  
  .header__lang{
    float: right;
    width: 104px;
    position: relative;
    font-size: 14px;
  }

    .header__lang-label{
      position: relative;
      line-height: 50px;
      padding-left: 24px;
    }

      .header__lang-label span{
        display: inline-block;
        padding-right: 40px;
        position: relative;
        cursor: pointer;
      }

        .header__lang-label span::after{
          -moz-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
          background: url(../images/header-lang-icon.png) 100% 50% no-repeat;
          display: block;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -16px;
          width: 31px;
          height: 31px;
          content: "";
        }

    .header__lang-dd{
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      border-top: 1px solid #ededed;
    }

      .header__lang-dd li{
        line-height: 34px;
        padding-left: 24px;
      }


.home-tethers-section{
  background: url(../images/home-tethers.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  height: 600px;
  padding: 63px 0 0;
}

  .home-tethers-section--type-2{
    background: url(../images/home-tethers-2.jpg) 50% 0 no-repeat;
  }


  .home-tethers{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0 -10px 70px;
    align-content: center;
    align-items: center;
  }

  .home-tethers--type-2 .home-tether{
    width: calc(25% - 20px);
  }

    .home-tether{
      width: calc(33.3% - 20px);
      margin: 0 10px;
      border: 2px solid #fdc300;
      position: relative;
      text-align: center;
      height: 242px;
      padding: 40px 0 0;
      position: relative;
    }

      .home-tether-link{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .home-tether:hover{
        background-color: #fdc300;
      }

      .home-tether__icon img:last-child{
        display: none;
      }

      .home-tether:hover .home-tether__icon img:first-child{
        display: none;
      }

      .home-tether:hover .home-tether__icon img:last-child{
        display: inline-block;
      }

      .home-tether figcaption{
        font-size: 19px;
        line-height: 24px;
        color: #fdc300;
        padding: 24px 20px;
      }

        .home-tether:hover figcaption{
          color: #0b2a61;
        }

      .home-tethers--type-2 .home-tether figcaption{
        font-size: 16px;
        font-weight: normal;
      }

        .home-tethers--type-2 .home-tether:hover{
          background-color: transparent;
        }
          .home-tether:hover figcaption{
            color: #fdc300;
          }
  
  .home-scroll-icon{
    width: 55px;
    height: 55px;
    margin: 0 auto;
  }


  /*---- responsive menu ----*/
  .resp_menu,
  .resp_close{
    display: none;
  }

  .resp_menu{
    padding: 10px;
    margin-top: 15px;
    margin-left: 10px;
  }

  .resp_close{
    position: absolute;
    right: 10px;
    top: 10px;
  }

  header nav .header__btn{display: none;}



/* text section */

.text-section{
  padding: 36px 0;
}

/* features section */

.features-section{
  margin-top: 15px;
  border-top: 1px solid #e5e5e5;
  position: relative;
  padding: 62px 0;
}

  .features-section::before{
    width: 39px;
    height: 14px;
    display: block;
    position: absolute;
    top: -1px;
    left: 50%;
    margin-left: -20px;
    background: url(../images/features-triangle.png) 0 0 no-repeat;
    content: "";
  }


  .features{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0 -17px;
  }

    .feature-item{
      width: 161px;
      margin: 0 17px 30px;
      text-align: center;
    }

      .feature-item__icon{
        width: 161px;
        height: 161px;
        line-height: 161px;
        text-align: center;
        border-radius: 50%;
        background-color: #fdc300;
      }

        .feature-item__icon img{
          vertical-align: middle;
        }

      .feature-item figcaption{
        padding-top: 40px;
      }

/*=====================> Content ========================*/
#content {padding:0px 0px 0px 0px; min-height: 1500px;}



/*============================ Types section =============================*/
.types-section .product_type:nth-child(even) .product_type--img{
  order: 2;
}

  .product_type{
      background-color: #F6F6F6;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      min-height: 565px;
  }
    .product_type--img,
    .product_type--info{
      width: 50%;
      -webkit-background-size: cover !important;
      background-size: cover !important;
    }
    .product_type--info{
      padding: 50px 30px;
    }
      .product_type--info .title-1{
        color: #2B2D31;
        line-height: 1;
      }

/*============================ section feedback =============================*/
.feedback-section{
  padding: 45px 0 55px;
  background: url(../images/feedback-bg.png) center center no-repeat;
  -webkit-background-size: 100% auto;
       -o-background-size: 100% auto;
          background-size: 100% auto;
}

/*============================ section contacts =============================*/
.contacts-section{
  background: url(../images/contacts-bg.png) center center no-repeat;
  -webkit-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
}
  .contacts--block{
    margin-bottom: -2px;
    padding: 30px 20px 10px;
    border-bottom: 2px solid #FDC300;
    background-color: rgba(255, 255, 255, .7);
  }
    .contacts--block .title-2{
      line-height: 1.1;
    }

    .contacts--block .header__phones{
      font-weight: lighter;
      width: 100%;
    }

    .contacts--location{
      padding-left: 50px;
      background: url(../images/location-icon.png) 4px center no-repeat;
    }

    .social{
      margin-left: 50px;
      margin-top: 12px;
    }
      [class^="social--"]:hover{opacity: 0.8;}

    .contacts-section .link--call{
      left: 33px;
      bottom: 18px;
    }

/*============================ Blue contact section =============================*/

.blue-contact-section{
  background-color: #184e9c;
  padding: 50px 0;
}

  .blue-contact{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
  }

    .blue-contact__item{
      width: calc(25% - 20px);
      margin: 0 10px;
    }

    .blue-contact__item .form__row{
      margin-bottom: 0;
    }

    .blue-contact__item .form__btn{
      display: block;
      width: 100%;
      line-height: 39px;
      padding-top: 0;
      padding-bottom: 0;
    }
      .blue-contact__item .form__btn img{
        vertical-align: middle;
        margin-left: 5px;
      }
/*============================ scroll section =============================*/

.scroll-section{
  padding: 20px 0 40px;
}

  .scroll-box{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 400px;
  }

    .scroll-box__content,
    .scroll-box__tethers{
      width: 50%;
    }

      .scroll-box__tethers{
        text-align: center;
        padding-top: 60px;
      }


    .scroll-box__list{
      text-align: left;
      font-size: 19px;
      max-height: 100%;
      overflow: auto;
    }

      .scroll-box__list li{
        overflow: hidden;
        font-weight: 400;
        margin-bottom: 30px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-content: center;
        align-items: center;
        color: #747474;
        cursor: pointer;
      }

        .scroll-box__list li:hover{
          color: #fdc300;
        }

        .scroll-box__list-icon{
          width: 60px;
        }
        .scroll-box__list-caption{
          overflow: hidden;
          padding-left: 30px;
        }


    .scroll-tether{
      padding: 0 20px;
    }

      .scroll-tether figcaption{
        padding-top: 20px;
      }


        /*
       * CSS Styles that are needed by jScrollPane for it to operate correctly.
       *
       * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
       * may not operate correctly without them.
       */

      .jspContainer
      {
        overflow: hidden;
        position: relative;
      }

      .jspPane
      {
        position: absolute;
      }

      .jspVerticalBar
      {
        position: absolute;
        top: 0;
        right: 0;
        width: 16px;
        height: 100%;
        background: url(../images/jsp-track.png) 50% 0 repeat-y;
      }

      /* .jspTrack::before{
        height: 100%;
        top: 0;
        left: 50%;
        margin-left: -1px;
        width: 2px;
        background-color: #bdbec0;
        display: block;
        content: "";
      } */

      .jspHorizontalBar
      {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 16px;
        background: red;
      }

      .jspCap
      {
        display: none;
      }

      .jspHorizontalBar .jspCap
      {
        float: left;
      }

      .jspTrack
      {
        position: relative;
      }

      .jspDrag
      {
        /* background: #184e9c; */
        position: relative;
        top: 0;
        left: 0;
        cursor: pointer;
      }

      .jspHorizontalBar .jspTrack,
      .jspHorizontalBar .jspDrag
      {
        float: left;
        height: 100%;
      }


      .jspVerticalBar .jspDrag > *{
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        content: "";
      }

      .jspVerticalBar .jspDrag .jspDragTop{
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 13px solid #184e9c;
        margin-bottom: 1px;
        top: 0;
      }
      .jspVerticalBar .jspDrag .jspDragBottom{
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 13px solid #184e9c;
        margin-top: 1px;
        bottom: 0;
      }

      .jspVerticalBar .jspDrag::before{
        display: block;
        position: absolute;
        top: 14px;
        bottom: 14px;
        left: 0;
        right: 0;
        background-color: #184e9c;
        content: "";
      }

      .jspArrow
      {
        background: #50506d;
        text-indent: -20000px;
        display: block;
        cursor: pointer;
        padding: 0;
        margin: 0;
      }

      .jspArrow.jspDisabled
      {
        cursor: default;
        background: #80808d;
      }

      .jspVerticalBar .jspArrow
      {
        height: 16px;
      }

      .jspHorizontalBar .jspArrow
      {
        width: 16px;
        float: left;
        height: 100%;
      }

      .jspVerticalBar .jspArrow:focus
      {
        outline: none;
      }

      .jspCorner
      {
        background: #eeeef4;
        float: left;
        height: 100%;
      }

      /* Yuk! CSS Hack for IE6 3 pixel bug :( */
      * html .jspCorner
      {
        margin: 0 -3px 0 0;
      }



/*============================ section name =============================*/
.section-preview{
  background-color: #f6f6f6;
  padding: 30px 0;
}


.content-img{
  max-width: 100%;
  height: auto;
}

.p--inner_img{
  margin-top: 4px;
  margin-right: 8px;
  display: inline-block;
}

/*============================ full-section name =============================*/
  [data-bg="garant"]{
    background: url(../images/garant_img.png) center center no-repeat;
  }

  .full-section[data-bg]{
    -webkit-background-size: 100% auto;
         -o-background-size: 100% auto;
            background-size: 100% auto;
  }

  .full-section{
    padding: 30px 0 45px;
  }


/*============================ Price section =============================*/
.price_wrap{
  margin-left: -28px;
  margin-right: -28px;
}
  .price{
    width: 29.5%;
    float: left;
    margin: 0 14px 15px;
    text-align: center;
    border: 1px solid #DADADC;
  }
    .price--header{
      padding: 15px 10px;
      background-color: #F5F5F5;
      border-bottom: 1px solid #DADADC;
    }
      .price--header .img_box{
        width: 42px;
        height: 42px;
        margin-left: auto;
        margin-right: auto;
        line-height: 37px;
        margin-bottom: 15px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
      }
        .price--header .img_box img{
          vertical-align: middle;
        }
      .price--header__title{
        font-size: 30px;
        letter-spacing: 2px !important;
        text-transform: uppercase;
      }

    .price--content{
      padding: 20px 20px 30px;
    }
      .price--content .list-2{
        min-height: 180px;
      }
      .price--content p{
        margin-bottom: 5px;
      }
      .price--content .link--default{margin-top: 25px;}

  .price.current{
    width: 32%;
    margin-top: -25px;
    border: 2px solid #FDC300;
  }
    .price.current .price--header{
      background-color: #FDC300;
      border-bottom-color: #FDC300;
    }


  .additional_info{
    color: #FFF;
    position: relative;
    padding: 8px 5px 8px 28px;
    font-size: 17px;
    line-height: 2.6;
    background-color: #004F95;
  }
    .additional_info::before{
      content: "";
      height: 71px;
      width: 23px;
      top: -17px;
      left: 0;
      position: absolute;
      background: url(../images/bef.png) 0% 0% no-repeat;
    }
    .additional_info::after{
      content: "";
      height: 22px;
      width: 44px;
      bottom: -22px;
      right: 0;
      position: absolute;
      background: url(../images/aft.png) 100% 100% no-repeat;
    }

    .additional_info--numb{
      font-size: 22px;
      padding: 2px 8px;
      color: #FDC300;
      line-height: 1.7;
      display: inline-block;
      background-color: #002F55;
    }



.link--default{
  width: 100%;
  font-size: 14px;
  line-height: 2.85;
  color: #0B2A61;
  font-weight: 500;
  display: inline-block;
  border: 2px solid #FDC300;
}
  .link--default:hover{
    color: #0B2A61;
    background-color: #FDC300;
  }
.link--yellow{
  width: 100%;
  font-size: 16px;
  color: #0B2A61;
  line-height: 2.5  ;
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid #FDC300;
  background-color: #FDC300;
}
  .link--yellow:hover{
    background-color: #FFF;
  }


/*=====================> Full-section Order ========================*/
[data-bg="order"]{
  margin-top: 80px;
  position: relative;
  background: url(../images/order-bg.png) center center no-repeat;
}
  [data-bg="order"]::before{
    content: "";
    width: 17%;
    /*top: -44px;*/
    bottom: 5px;
    left: 60%;
    /*margin-left: -10%;*/
    height: 118%;
    position: absolute;
    background: url(../images/engineer.png) center 100% no-repeat;
    -webkit-background-size: 100% auto;
         -o-background-size: 100% auto;
            background-size: 100% auto;
  }


/*=====================> Full-section Credit ========================*/
[data-bg="credit"]{
  background: url(../images/credit-bg.png) center center no-repeat;
}


/*=====================> Bonus ========================*/
.bonus_wrap{}
  .bonus{
    float: left;
    padding-top: 30px;
    position: relative;
    text-align: center;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: url(../images/bonus-bg.png) center center no-repeat;
    -webkit-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
  }
    
    .bonus .img_box{
      height: 50%;
    }
      .bonus .img_box img{
        vertical-align: middle;
        line-height: 100%;
      }
    .bonus__title{
      color: #0B2A61;
      font-size: 29px;
      line-height: 1.1;
      font-weight: bold !important;
    }

  [data-bonus-size='sm']{
    width: 230px;
    height: 230px;
    margin-top: 70px;
  }

  [data-bonus-size='lg']{
    width: 330px;
    height: 330px;
    margin-left: 60px;
    margin-right: 60px;
  }
    [data-bonus-size='lg'] .bonus__title{font-size: 44px;}

/*=====================> Return section ========================*/
.return-section{
  padding: 37px 0;
}

  .return-section__period-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0 -10px;
    align-items: center;
    align-content: center;
  }
    .return-section__period{
      margin: 0 10px;
      height: 72px;
      line-height: 72px;
      background-color: #efefef;
      width: calc(50% - 20px);
      padding: 0 7px;
      font-size: 17px;
      text-align: center;
    }

      .return-section__period img{
        vertical-align: middle;
        margin-right: 10px;
      }
  
  .fake-txt-input{
    width: 117px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 5px;
    line-height: 36px;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #d2d0d0;
    border-radius: 2px;
    text-align: left;
  }


.table-1{
  width: 100%;
  text-align: left;
  font-size: 12px;
  color: #5a5b5b;
  border-right: 1px solid #b7b7b7;
  border-top: 1px solid #b7b7b7;
}

  .table-1 th,
  .table-1 td{
    padding: 4px 10px;
    font-weight: normal;
    border-left: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
  }


  .table-1 th{
    background-color: #efefef;
  }


  .table-1 table{
    margin: -5px -11px;
    width: auto;
    display: block;
  }

    .table-1 table tr td:first-child{
      width: 70%;
      text-align: right;
    }



.total-box{
  background: url(../images/totalbox-bg.png) 0 0 no-repeat;
  min-height: 286px;
  -webkit-background-size: contain;
  background-size: contain;
  padding: 33px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  color: #fff;
  font-size: 14px;
  padding: 50px 66px;
}


  .total-box__part{
    width: 50%;
    text-align: center;
  }


  .total-box__row{
    vertical-align: middle;
    line-height: 44px;
    margin-bottom: 10px;
  }

    .total-box__row span{
      vertical-align: middle;
    }


    .total-box__label{
      display: inline-block;
      width: 140px;
      text-align: right;
      line-height: 1.23;
    }

    .total-box__val{
      width: 70px;
      line-height: 1.23;
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      white-space: nowrap;
    }


    .dark-fake-inp{
      width: 165px;
      display: inline-block;
      font-size: 24px;
      color: #fdc300;
      margin: 0 5px;
      background-color: #002f56;
    }

/*=====================> Total form ========================*/

  .total-form-section{
    background: url(../images/total-form-bg.jpg) 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .total-form-section .container{
    min-height: 404px;
    padding-top: 100px;
  }

    .total-form-section__img{
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .total-form{
      width: 55%;
      float: right;
    }

      .total-form .form__row input{
        width: calc(100% - 45px);
        float: left;
      }

      .total-form .form__btn{
        display: block;
        width: 45px;
        float: left;
        line-height: 39px;
        padding: 0;
      }
        .total-form .form__btn img{
          vertical-align: middle;
        }



.services-section{
  padding: 40px 0;
}

  .services{

  }

    .service-item{
      overflow: hidden;
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: 1px dashed #cecece;
    }

    .services .service-item:last-child{
      border: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }

      .service-item__img{
        width: 222px;
        height: 222px;
        text-align: center;
        line-height: 222px;
        border-radius: 50%;
        background-color: #fdc300;
      }


      .service-item__img.f_left{
        margin-right: 40px;
      }
      .service-item__img.f_right{
        margin-left: 40px;
      }

        .service-item__img img{
          vertical-align: middle;
        }


/*=====================> Testimonials ========================*/
.testimonials-section{
  min-height: 528px;
  background: url(../images/testimonial-bg.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 50px 0;
}

.testimonials .owl-prev,
.testimonials .owl-next{
  width: 23px;
  height: 50px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -25px;
}


  .testimonials .owl-prev{
    right: 100%;
    background: url(../images/arrow-prev.png) 0 0 no-repeat;
  }
  .testimonials .owl-next{
    left: 100%;
    background: url(../images/arrow-next.png) 0 0 no-repeat;
  }

  .testimonial{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0 55px;
  }

    .testimonial figcaption{
      text-align: left;
      color: #bfbfbf;
      padding: 90px 0 0 35px;
      text-align: justify;
      background: url(../images/quote-img.png) 35px 15px no-repeat;
    }


    .testimonial-item__title{
      font-size: 18px;
      line-height: 1.23;
      color: #fff;
      border-bottom: 1px solid #fdc300;
      padding-bottom: 8px;
      margin-bottom: 15px;
    }



/*=====================> Calculate section ========================*/
.calculate-section{
  padding: 40px 0;
}

  .calculate__power{
    width: 50%;
  }
  .calculate__region{
    width: 45%;
    margin-left: 20px;
  }

/* Ion.RangeSlider
// css version 2.0.3
// © 2013-2014 Denis Ineshin | IonDen.com
// ===================================================================================================================*/

/* =====================================================================================================================
// RangeSlider */

.irs {
    position: relative; display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
    .irs-line {
        position: relative; display: block;
        overflow: hidden;
        outline: none !important;
    }
        .irs-line-left, .irs-line-mid, .irs-line-right {
            position: absolute; display: block;
            top: 0;
        }
        .irs-line-left {
            left: 0; width: 11%;
        }
        .irs-line-mid {
            left: 9%; width: 82%;
        }
        .irs-line-right {
            right: 0; width: 11%;
        }

    .irs-bar {
        position: absolute; display: block;
        left: 0; width: 0;
    }
        .irs-bar-edge {
            position: absolute; display: block;
            top: 0; left: 0;
        }

    .irs-shadow {
        position: absolute; display: none;
        left: 0; width: 0;
    }

    .irs-slider {
        position: absolute; display: block;
        cursor: default;
        z-index: 1;
    }
        .irs-slider.single {

        }
        .irs-slider.from {

        }
        .irs-slider.to {

        }
        .irs-slider.type_last {
            z-index: 2;
        }

    .irs-min {
        position: absolute; display: block;
        left: 0;
        cursor: default;
    }
    .irs-max {
        position: absolute; display: block;
        right: 0;
        cursor: default;
    }

    .irs-from, .irs-to, .irs-single {
        position: absolute; display: block;
        top: 0; left: 0;
        cursor: default;
        white-space: nowrap;
    }

.irs-grid {
    position: absolute; display: none;
    bottom: 0; left: 0;
    width: 100%; height: 20px;
}
.irs-with-grid .irs-grid {
    display: block;
}
    .irs-grid-pol {
        position: absolute;
        top: 0; left: 0;
        width: 1px; height: 8px;
        background: #000;
    }
    .irs-grid-pol.small {
        height: 4px;
    }
    .irs-grid-text {
        position: absolute;
        bottom: 0; left: 0;
        white-space: nowrap;
        text-align: center;
        font-size: 9px; line-height: 9px;
        padding: 0 3px;
        color: #000;
    }

.irs-disable-mask {
    position: absolute; display: block;
    top: 0; left: -1%;
    width: 102%; height: 100%;
    cursor: default;
    background: rgba(0,0,0,0.0);
    z-index: 2;
}
.irs-disabled {
    opacity: 0.4;
}
.lt-ie9 .irs-disabled {
    filter: alpha(opacity=40);
}


.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
}

,/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
    background: url(../images/sprite-skin-simple.png) repeat-x;
}

.irs {
    height: 40px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 9px; top: 25px;
}
    .irs-line-left {
        height: 6px;
        background-position: 0 -30px;
    }
    .irs-line-mid {
        height: 6px;
        background-position: 0 0;
    }
    .irs-line-right {
        height: 6px;
        background-position: 100% -30px;
    }

.irs-bar {
    height: 6px; top: 25px;
    background-position: 0 -60px;
}
    .irs-bar-edge {
        top: 25px;
        height: 6px; width: 7px;
        background-position: 0 -90px;
    }

.irs-shadow {
    height: 1px; top: 34px;
    background: #000;
    opacity: 0.75;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=75);
}

.irs-slider {
    width: 8px; height: 15px;
    top: 21px;
    background-position: 0 -120px;
}
.irs-slider.state_hover, .irs-slider:hover {
    background-position: 0 -150px;
}

.irs-min, .irs-max {
    color: #c0c0c0;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #3654b0;
}

.irs-from, .irs-to, .irs-single {
    color: #000;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: rgba(255,255,255,0.8);
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #d8dff3;
}

.irs-grid-pol {
    background: #777;
}
.irs-grid-text {
    color: #e0e0e0;
}

.irs-disabled {
}

.irs-line{
  background-color: #5d6065;
  border-radius: 10px;
}

.irs-min,
.irs-max,
.irs-single{
  display: none !important;
}

.irs-slider.single{
  width: 28px;
  height: 21px;
  background: url(../images/range-arrow.png) 0 0 no-repeat;
}

  .calculate__part{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }


  .calculate__region-name{
    background: url(../images/location-icon-region.png) 0 35% no-repeat;
    padding-left: 35px;
  }
    .calculate__region .additional_info{
      line-height: 38px;
    }
      .calculate__region .additional_info img{
        margin-top: 9px;
        display: inline-block;
      }
      .calculate__region .additional_info span:last-child{
        display: inline-block;
        margin-top: 3px;
        margin-left: 7px;
      }


  .calculate__power-val{
    line-height: 36px;
  }

    .calculate__power-val .fake-txt-input{
      font-size: 24px;
      color: #fdc300;
      text-align: center;
      width: 114px;
    }


    .compass{
      width: 254px;
      height: 254px;
      line-height: 254px;
      background: url(../images/compass-img.png) 0 0 no-repeat;
      text-align: center;
      padding-bottom: 10px;
    }

      .compass img,
      .house img{
        cursor: move;
        vertical-align: middle;
      }

    .house{
      width: 257px;
      height: 200px;
      line-height: 200px;
      background: url(../images/house-img.png) 0 0 no-repeat;
      padding-bottom: 40px;
    }

      .house img{
        margin-top: -20px;
      }



/*=====================> Full-section Contacts order ========================*/
[data-bg="cont_order"]{
  background: url(../images/contact_order-bg.png) center center no-repeat;
}
  [data-bg="cont_order"] .link--more{
    font-size: 18px;
    line-height: 1.7;
  }

  [data-bg="cont_order"] .link--more [data-btn-arrow="arrow"]{
    margin-top: 5px;
  }



/*=====================> section-workers ========================*/
  .section-workers{}
    .section-workers .title-7{
      line-height: 1.9;
    }

    .worker__item{
      float: left;
      width: calc(25% - 20px);
      margin-left: 10px;
      margin-right: 10px;
    }
      .worker__item .img_box{
        height: 283px;
      }


/*=====================> contacts ========================*/
  .contacts-section_2 .contacts--block{
    padding: 0;
  }
    .contacts-section_2 .contacts--block img{
      max-width: 100%;
    }


  .full-contacts{
    padding: 7px 0;
    
  }
    .full-contacts .header__phones{
      float: left;
      font-weight: 500;
      line-height: 2.8;
      display: inline-block;
      margin-bottom: 0;
      margin-right: 20px;
      background-image: url(../images/phone_icon.png);
    }
    .full-contacts .contacts--location{
      float: left;
      font-weight: 500;
      font-size: 13px;
      margin-right: 20px;
      background-image: url(../images/loc_icon.png);
    }
    .full-contacts .social{
      float: right;
      margin-left: 0;
      text-align: center;
    }



/*=====================> Paragraphs ========================*/

  p {margin-bottom:24px}
  .mb1{ margin-bottom:1px;}
  .mb2{ margin-bottom:2px;}
  .mb3{ margin-bottom:3px;}
  .mb4{ margin-bottom:4px;}
  .mb5{ margin-bottom:5px;}
  .mb6{ margin-bottom:6px;}
  .mb7{ margin-bottom:7px;}
  .mb8{ margin-bottom:8px;}
  .mb9{ margin-bottom:9px;}
  .mb10{ margin-bottom:10px;}
  .mb11{ margin-bottom:11px;}
  .mb12{ margin-bottom:12px;}
  .mb13{ margin-bottom:13px;}
  .mb14{ margin-bottom:14px;}
  .mb15{ margin-bottom:15px;}
  .mb16{ margin-bottom:16px;}
  .mb17{ margin-bottom:17px;}
  .mb18{ margin-bottom:18px;}
  .mb19{ margin-bottom:19px;}
  .mb20{ margin-bottom:20px;}
  .mb21{ margin-bottom:21px;}
  .mb22{ margin-bottom:22px;}
  .mb23{ margin-bottom:23px;}
  .mb24{ margin-bottom:24px;}
  .mb25{ margin-bottom:25px;}
  .mb26{ margin-bottom:26px;}
  .mb27{ margin-bottom:27px;}
  .mb28{ margin-bottom:28px;}
  .mb29{ margin-bottom:29px;}
  .mb30{ margin-bottom:30px;}
  .mb31{ margin-bottom:31px;}
  .mb32{ margin-bottom:32px;}
  .mb33{ margin-bottom:33px;}
  .mb34{ margin-bottom:34px;}
  .mb35{ margin-bottom:35px;}
  .mb36{ margin-bottom:36px;}
  .mb37{ margin-bottom:37px;}
  .mb38{ margin-bottom:38px;}
  .mb39{ margin-bottom:39px;}
  .mb40{ margin-bottom:40px;}
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb56{ margin-bottom:56px;}
  .mb57{ margin-bottom:57px;}
  .mb58{ margin-bottom:58px;}
  .mb59{ margin-bottom:59px;}
  .mb60{ margin-bottom:60px;}
  .mb61{ margin-bottom:61px;}
  .mb62{ margin-bottom:62px;}
  .mb62{ margin-bottom:62px;}
  .mb63{ margin-bottom:63px;}
  .mb64{ margin-bottom:64px;}
  .mb65{ margin-bottom:65px;}
  .mb66{ margin-bottom:66px;}
  .mb67{ margin-bottom:67px;}
  .mb68{ margin-bottom:68px;}
  .mb69{ margin-bottom:69px;}
  .mb70{ margin-bottom:70px;}

  .mb75{ margin-bottom: 75px;}


/*=====================> Lists ========================*/
.list-1{}
  .list-1 li{
      margin-bottom: 10px;
  }
    .list-1 a{
      color: #0B2A61;
      font-size: 17px;
      padding-left: 30px;
      background: url(../images/list-icon.png) 0 4px no-repeat;
    }
    .list-1 a:hover{
      color: #FDC300;
      background-image: url(../images/list-icon-act.png);
    }
      .list-1 span{
        border-bottom: 1px dashed #A3A3A3;
      }
      .list-1 a:hover span{
        border-bottom-color: transparent;
      }

.list-2{}
  .list-2 li{
    color: #3B3F45;
    margin-bottom: 7px;
    padding-bottom: 7px;
  }
  .list-2 li:not(:last-child){
    border-bottom: 1px solid #EAEBEC;
  }

.list-3{}
  .list-3 li{
    width: 100%;
    font-size: 15px;
    background:url(../images/done.png) 18px 50% no-repeat;
    padding-left:60px;
    padding-top: 18px;
    padding-right: 10px;
    padding-bottom: 15px;
    display: inline-block;
    border: 1px solid #DADADC;
    background-color: #F5F5F5;
    margin-bottom: 2px;
  }
    .list-3 li span{text-transform: uppercase;}
    /*.list-3 a{}*/

/*=====================> Titles ========================*/
h1,h2,h3,h4,h5,h6{
  font-weight:normal;
}

.title{
  font-size: 48px;
  line-height: 1.2;
}

.title-1{
  font-size: 36px;
  line-height: 1.35;
  letter-spacing: 2px;
}

.title-2{
  font-size: 24px;
  line-height: 1.23;
}

.title-3{
  font-size: 20px;
  line-height: 1.23;
}

.title-4{
  font-size: 18px;
  line-height: 1.23;
}

.title-5{
  font-size: 15px;
  line-height: 1.23;
}

.title-6{
  font-size: 30px;
}

.title-7{
  font-size: 45px;
  line-height: 1.1;
}


/*================================>> GOOGLE FONTS  <<========================================*/
.bebas{
  letter-spacing: 1px;
  font-family:'Bebas Neue Regular';
  font-weight: 400;
}

.fw-light{
  font-weight: 300;
}

.fw-medium{
  font-weight: 500;
}

.fw-bold{
  font-weight: 700;
}

/*================================>> hovers <<========================================*/
a,
.menu li::after,
.header__btn{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
a:hover,
.menu li:hover::after,
.header__btn:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.header__lang-label span::after{
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}



/*================================>> Contact Form <<========================================*/
.form{
  
}
  .form__row{
    width: 100%;
    margin-bottom: 20px;
  }
    .form__row input{
      width: 100%;
      border: none;
      line-height: 2.2;
      padding: 5px 10px 5px 20px;
    }

    .form__row textarea{
      width: 100%;
      border: none;
      line-height: 1.5;
      min-height: 275px;
      padding: 5px 10px 5px 20px;
    }

    .form__btn{
      color: #0B2A61;
      border: none;
      cursor: pointer;
      display: block;
      font-size: 18px;
      margin-left: auto;
      margin-right: auto;
      padding: 14px 10px;
      background-color: #FDD000;
      text-transform: uppercase;
    }
    .form__btn:hover{
      background-color: #FBDC4B;
    }




.txt-field{
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.msg-field{
  overflow:auto;
  resize:none;
  margin: 0 0 0 0;
}

/*================================>> Footer <<========================================*/
footer {
  /*padding: 10px 0;*/
  border-top: 2px solid #fdc300;
  font-size: 13px;
  position: relative;
}
.social{
  overflow:hidden;
}
.social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
.social a:first-child{margin: 0 0 0 0;}
.social a:hover img{
  /*margin-top:-32px;*/
}

  footer .logo_box{
    padding: 10px;
    border-right: 2px solid #FDC300;
  }
    footer .logo_box p{
      line-height: 4;
      margin-bottom: 0;
      margin-top: 4px;
    }
  footer .logo{
    margin-right: 15px;
  }

  .footer__nav{
    font-size: 13px;
    padding-top: 30px;
  }
    .footer__nav li{
      display: inline-block;
    }
      .footer__nav li a{
        /*padding: 10px 0;*/
      }
    .footer__nav li:not(:last-child)::after{
      content: "";
      height: 11px;
      width: 1px;
      margin-left: 10px;
      margin-right: 10px;
      display: inline-block;
      background-color: #6E7380;
    }

  .ankor{
    width: 48px;
    height: 48px;
    position: absolute;
    left: 90%;
    top: 15px;
    /*-webkit-transform: translateX(700px);
       -moz-transform: translateX(700px);
        -ms-transform: translateX(700px);
         -o-transform: translateX(700px);
            transform: translateX(700px);*/
    
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    display: inline-block;
    background: #FDD000 url(../images/ankor.png) center center no-repeat;
  }

/*============================= Easy responsive tabs ============================*/


.resp-tabs-list li {
    
}


h2.resp-accordion {
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-easy-accordion  h2.resp-accordion {
        display: block;
}

.resp-tab-content-active {
    display: block;
}


@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    
    .resp-accordion-closed {
        display:none !important;
    }
    
}


/*============================ Arctic modal =============================*/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/* ========================== OWL CAROUSEL =============================*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

